@font-face {
    src:"customfont.ttf";
    font-family: customfont;

}
body {
    background-color: #1B244A;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}
#scoreBoard {
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    color: #F94F6D;
    font-family: customfont;
    font-size: px;
}
